{% extends "base.html" %}

{% block title %}
    <title>Dependent</title>
{% endblock %}

{% block content %}

    <table class="table">
      <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">Dependent List</div> 
        <hr>
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Relation</th>
                <th scope="col">Phone</th>
              </tr>
            </thead>
            <tbody>
              {% for dependent in all_dep %}
              <tr>
                <th scope="row">{{dependent.d_id}}</th>
                <td>{{dependent.d_name}}</td>
                <td>{{dependent.d_relation}}</td>
                <td>{{dependent.d_phone}}</td>

              </tr>

              {% endfor%}
            </tbody>
          </table>

{%endblock%}